.nav {
  padding: em(16);
  background: #0e0e0e;
  
  ul {
    @include flexbox();
  }

  &__item a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: .2s;

    &:hover {
      opacity: .8;
    }
  }
}
