@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900");
body {
  background: #191919;
  padding-top: 0.1px;
}

.container {
  height: 100%;
  padding-top: 0.1px;
}

.content {
  margin-left: 200px;
}

.btn {
  padding: 12px 6px;
  background: #fff;
  color: #000;
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 260px;
  margin-top: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.slider__container {
  display: inline-block;
  margin-left: 40px;
}

.slider .video {
  position: relative;
  display: inline-block;
  transition: .5s;
  width: 257.4px;
  height: 144.7875px;
  margin: 0 3px;
  margin-top: 45px;
}

> .slider .video:first {
  margin-left: 0 !important;
}

.slider .video:last-child {
  margin-right: 0;
}

.slider .video img {
  object-fit: cover;
  width: 257.4px;
  height: 144.7875px;
}

.slider .video__legend {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.986432) 0%, rgba(0, 0, 0, 0.336572) 48%, rgba(255, 255, 255, 0) 100%);
  padding: 10px 20px;
  width: 100%;
  opacity: 0;
  transition: .4s;
}

.slider .video__legend h3 {
  color: #fff;
  font-size: 0.85714em;
}

.slider .video__legend a {
  color: #fff;
  text-decoration: none;
  font-size: 0.71429em;
  transition: .2s;
}

.slider .video__legend a:hover {
  opacity: .8;
}

.slider .video__legend p {
  color: #fff;
  margin-top: 10px;
  font-size: 0.57143em;
}

.slider__controls {
  position: relative;
  width: calc(100vw - 260px);
  height: 200px;
}

.slider__controls .arrow {
  z-index: 2;
  padding: 6px;
  position: absolute;
  top: 22.3%;
  height: 72.6%;
  transition: all .2s ease-in-out;
}

.slider__controls .arrow--left {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.767) 0%, rgba(0, 0, 0, 0.336572) 48%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}

.slider__controls .arrow--right {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.767) 0%, rgba(0, 0, 0, 0.336572) 48%, rgba(255, 255, 255, 0) 100%);
  right: 0;
}

.slider__controls .arrow img {
  width: 35px;
  height: 100%;
}

.slider__title {
  position: absolute;
  left: 0;
  top: 10px;
  color: #ececec;
  font-weight: 300;
}

.nav {
  display: inline-block;
  width: 200px;
  height: 100%;
  background: #111111;
  float: left;
  position: fixed;
  -webkit-box-shadow: 1px 0px 6px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 6px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 6px 3px rgba(0, 0, 0, 0.5);
}

.nav .profile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 30px;
}

.nav .profile__img {
  background-image: url("https://source.unsplash.com/random/");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.nav .profile__name {
  color: #cacaca;
  font-weight: light;
  font-size: 0.85714em;
}

.nav .menu {
  text-align: center;
}

.nav .menu li {
  padding: 30px 0;
  transition: .2s;
}

.nav .menu li a {
  color: #ececec;
  text-decoration: none;
  display: inline-block;
}

.nav .menu li a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #fff;
  transition: 300ms;
}

.nav .menu li a:hover::after {
  width: 100%;
}

.nav .sideMenu {
  position: relative;
  text-align: center;
  background-color: #000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 12px 0;
}

.nav .sideMenu ul li {
  padding: 6px 0;
}

.nav .sideMenu ul li a {
  color: #cacaca;
  font-size: 0.85714em;
  text-decoration: none;
}

.nav .sideMenu ul li a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #fff;
  transition: 300ms;
}

.nav .sideMenu ul li a:hover::after {
  width: 100%;
}

.nav .sideMenu::before {
  content: '';
  height: 1px;
  background: #666;
  width: 60%;
  position: absolute;
  top: 0;
}
